a {
  display: inline-block;
  cursor: pointer;
}

.comment {
  color: #95bfc7;
  font-family: "Courier New", Courier, monospace;
}

.navBar {
  background-color: #0f1923;
  position: sticky;
  top: 0;
  z-index: 2;
}
